@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --switch-bg-default: #d1d5db; /* Gray-400 */
  --switch-bg-active: #84a98c; /* Blue-500 */
}
.custom-switch[data-selected="true"] .heroui-switch-track {
  background-color: green !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
